In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('p1_cnbc_top_50.csv')
df = df[['cnbc_link', 'company', 'Investors']]
Investors = df.Investors

In [3]:
# Create long list of VCs, remove duplicates
string=''
for i in range(len(Investors)):
    string += '; '+str(Investors[i])
new_cols = sorted(list(set(string.split('; '))))[1:]

In [4]:
# Create a row for each unique VC value
df=pd.concat([df,pd.DataFrame(columns=new_cols)]).fillna(0)

In [5]:
# Populate the empty VC rows
for i in range(len(Investors)):
    a_list = Investors[i].split('; ')
    for item in a_list:
        df[item][i] = 1

C:\Users\sski\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [6]:
# Create count matrix
matrix = df.loc[:,new_cols]
matrix.loc['Total',:]= matrix.sum(axis=0)
matrix.loc[:,'Total'] = matrix.sum(axis=1)
matrix

,137 Ventures,1776 Ventures,83North,9Yards Capital,A-Grade Investments,AID Partners Capital,AME Cloud Ventures,Aaron Levie,Aboud Khaddam,Abstract Ventures,...,Wellcome Trust,Wellington Management,Wellington Partners,Western Technology Investment,Wing Venture Capital,Workday Ventures,Y Combinator,Yuan Capital,Zander Lurie,Total
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,25.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,25.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,25.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,22.0
7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0
8,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
9,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,13.0
11,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
12,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,23.0
13,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
Total,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,...,1.0,3.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,351.0

In [7]:
sum_counts = list(matrix.loc['Total',:])[:-1] #Remove total cell
sum_counts[sum_counts.index(max(sum_counts))]
print("What VC invested in the CNBC list the most?",new_cols[138])

What VC invested in the CNBC list the most? Kleiner Perkins

In [8]:
# Create new dataframe to filter by total counts
df_sum = pd.DataFrame(dict(zip(new_cols,sum_counts)),index=[0])
df_sum = df_sum[df_sum > 2].dropna(axis=1)

In [9]:
# Print out of top VCs with more than 2 hits on the CNBC list
df_sum.T[0].astype(int)

Bracket Capital               3
CapitalG                      4
Coatue Management             4
DST Global                    3
Dragoneer Investment Group    5
G Squared                     3
GV                            4
General Catalyst              3
Geodesic Capital              3
ICONIQ Capital                5
Kleiner Perkins               6
Morgan Stanley                3
Redpoint                      3
SV Angel                      4
Sequoia Capital               6
T. Rowe Price                 3
Wellington Management         3
Name: 0, dtype: int32

In [12]:
top_VC=df_sum.T[0].index.to_list()
top_cols=['company']+top_VC
df[top_cols]

,company,Bracket Capital,CapitalG,Coatue Management,DST Global,Dragoneer Investment Group,G Squared,GV,General Catalyst,Geodesic Capital,ICONIQ Capital,Kleiner Perkins,Morgan Stanley,Redpoint,SV Angel,Sequoia Capital,T. Rowe Price,Wellington Management
0,Stripe,0,1,0,1,0,0,1,1,0,0,1,0,1,1,1,0,0
1,Coursera,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
2,SoFi,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
3,DoorDash,0,0,1,1,1,0,0,0,0,0,1,0,0,1,1,1,0
4,Affirm,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
5,Kabbage,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
6,Chime,0,0,1,1,1,0,0,0,0,1,0,0,0,0,0,0,0
7,Dave,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
8,Ripple,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,Marqeta,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0
10,Snowflake,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0
11,Airbnb,1,1,0,0,1,1,0,1,1,0,1,1,0,0,1,1,1
12,Guild Education,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0
13,Robinhood,0,1,0,0,0,0,1,0,0,1,1,0,0,0,1,0,0
14,Impossible Foods,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
15,UiPath,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1,1,0

In [ ]:
df[top_cols].to_csv('top_VC_CNBC_50_list.csv')